*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 7vmin;
    font-weight: 500;
    text-shadow: 0 0 0 rgba(0,255,0,0.5);
}
body{
    background-color: peachpuff;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    width: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.8vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    background-color: white;
    font-size: 8vmin;
    color: blueviolet;
}

.reset{
    padding: 1vmin;
    font-size: 3vmin;
    background-color: brown;
    border: none;
    color: azure;
    border-radius: 2.5vmin;
}

#newgame{
    padding: 1vmin;
    font-size: 3vmin;
    background-color: brown;
    border: none;
    color: azure;
    border-radius: 2.5vmin;
}

.msgcontainer{
    font-size: 9vmin;
}

#msg{
    color: maroon;
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}